.container {
    width: 30%;
    margin-top: 5%;
}
.red-border{
    border: 1px solid red;
}
@media only screen and (max-width: 900px) {
    .container {
        width: 90% !important;
        margin-top: 5%;
    }
}
.alert{
    top:92%;
    position: fixed;
    width: 100%;
}