@media only screen and (max-width: 1000px) {
    .col-9{
        width: 100%;
    }
    .col-3{
        width: 100%;
        margin-bottom: 20px;
    }
}

.a{
    position: fixed;
    top:92%;
    width: 100%;
}
