<ngb-carousel *ngIf="carousel">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="carousel[0].src" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			
			<p style="font-weight: bold;">{{'slogan1' | translate}}</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="carousel[1].src" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			
			<p style="font-weight: bold;">{{'slogan2' | translate}}</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="carousel[2].src" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			
			<p style="font-weight: bold;">{{'slogan3' | translate}}</p>
		</div>
	</ng-template>
</ngb-carousel>
